composer.lock
composer-test.lock
vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example
._.DS_Sortore
Thumbs.db

#uploads
public/upload/crm/*
public/upload/member/*
public/upload/product/*
public/upload/resource/*

#config files
config/restrose.*

#custom filse
public/custom/

#ico
public/favicon.*

#sublime-project files
*.sublime-workspace

